<header>
    <div class="container">
        <div class="row">
            <img class="mx-auto" style="background-color: transparent; height:10rem" id="burger-image"
                src="assets/img/burger.png" alt="burger-image">




        </div>
        <div class="row  my-1">
            <h1 class="display-2 mx-auto font-weight-bold text-center">Eat Da Burger!</h1>
        </div>
    </div>
</header>
<hr>
<div class="container">
    <div class="row ">

        <!-- <div id="burgers-to-devour" class="col-md-5 border"> -->
        <div id="burgers-to-devour" class="col-md-6 p-1">

            <h2 class="text-center font-italic font-weight-bold mt-1">Burgers to be Devoured</h2>
            <br>
            <ul class="list-group" style="list-style: none">
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}

                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <!-- <div class="col-md-2 "></div> -->
        <!-- <div id="devoured-burgers" class="col-md-5 border"> -->
        <div id="devoured-burgers" class="col-md-6 p-1">
            <h2 class="text-center font-italic font-weight-bold mt-1 ">Devoured Burgers</h2>

            <br>
            <ul class="list-group" style="list-style: none">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <br>

    <div class="container border border-primary mb-2 bg-secondary text-light font-weight-bold">
        <div class="row">

            <h2 class="mx-auto display-2 text-center">Add a Burger!</h3>
        </div>
        <br>
        <div class="row">
            <form class=" mx-auto create-form">
                {{!-- TODO: why is the button and the field slightly askew? --}}
                <div class="form-group d-flex justify-content-center">

                    <input style="height:3.5rem" type="text" id="add-burger-field" name="burger_name"
                        placeholder="Burger name">
                    <button style="height:3.5rem" class="btn btn-primary " id="add-burger-btn" type="submit">Add da
                        Burger!</button>
                </div>

            </form>

        </div>
        <div class="row">
            <p class="text-dark mx-auto my-0 text-center"> Enter the name of a burger you want to devour!</p>
        </div>
    </div>